* {
  font-family: Roboto, sans-serif;
}

.mycar {
  padding-top: 60px;
  margin-top: -60px;
}

.intcar {
  padding-top: 60px;
  margin-top: -60px;
}

header {
  position: relative;
  height: 50px;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background: #212121;
  z-index: 100;
}

a {
  text-decoration: none;
}

.box_center {
  display: inline-block;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}
.menu_link {
  font-weight: 300;
  font-size: 15px;
  color: #FFFFFF;
}
.menu_link:hover {
  text-decoration: none;
  color: #1FBAD6;
}
.menu_item + .menu_item {
  border-left: 2px dotted #ffffff;
  padding-left: 45px;
}

.hamburger {
  display: none;
}

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}
.subheader_logo {
  display: block;
  margin-top: 16px;
  max-width: 100%;
}
.subheader_official {
  font-weight: 200;
  font-size: 13px;
  color: #FFFFFF;
  margin-top: 2px;
  opacity: 0.5;
}
.subheader_call {
  margin-top: 18px;
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  color: #FFFFFF;
}
.subheader_phone {
  margin-top: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  display: block;
  text-align: right;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subheader_phone:hover {
  color: #FF5656;
}
.subheader_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  width: 172px;
  height: 46px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.subheader_btn:hover {
  background-image: none;
  background-color: #FF5656;
}

.promo {
  padding: 150px 0 185px 0;
  text-align: center;
  height: 800px;
  background: url(../img/uber_bg.jpg) center center/cover no-repeat;
}
.promo_header {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo_subheader {
  margin-top: 13px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo_descr {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0 10px 0 10px;
  opacity: 0.85;
}
.promo_btn {
  margin-top: 115px;
  width: 259px;
  height: 63px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 63px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}
.promo_btn:hover {
  background-image: none;
  background-color: #FF5656;
}

.why_us {
  padding: 48px 0 65px 0;
}
.why_us_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.why_us_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 50%;
}
.why_us_text {
  width: 343px;
}
.why_us_title {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}
.why_us_descr {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.label {
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  width: 115px;
  height: 27px;
  background: #000000;
}

.title {
  margin-top: 38px;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
}

.subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
}

.mobile {
  min-height: 861px;
  padding: 48px 0 80px 0;
  background: url(../img/capabilities_bg.jpg) center center/cover no-repeat;
}
.mobile .row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile_item {
  position: relative;
  width: 329px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.mobile_item_1 {
  background: url(../img/capabilites/capabilites_card_1.png) center center/cover no-repeat;
}
.mobile_item_2 {
  background: url(../img/capabilites/capabilites_card_2.png) center center/cover no-repeat;
}
.mobile_item_3 {
  background: url(../img/capabilites/capabilites_card_3.png) center center/cover no-repeat;
}
.mobile_item_4 {
  background: url(../img/capabilites/capabilites_card_4.png) center center/cover no-repeat;
}
.mobile_item_5 {
  background: url(../img/capabilites/capabilites_card_5.png) center center/cover no-repeat;
}
.mobile_item_6 {
  background: url(../img/capabilites/capabilites_card_6.png) center center/cover no-repeat;
}
.mobile_item_subtitle {
  display: block;
  text-align: center;
  padding: 82px 12px 0 12px;
}
.mobile_item_plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  border-radius: 50%;
  width: 29px;
  height: 29px;
  background: #000000;
  cursor: pointer;
}
.mobile_item_plus img {
  display: block;
  width: 50%;
}
.mobile_item_plus:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1FBAD6;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus:after {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1FBAD6;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
  background-color: #FF5656;
}

.car {
  min-height: 895px;
  background: url(../img/capabilities_bg.jpg) center center/cover no-repeat;
}
.car_up_bg {
  padding: 56px 0 137px 0;
  height: 500px;
  background-color: #000000;
}
.car_up_bg img {
  display: block;
  margin: 56px auto 0 auto;
}
.car_up_bg .subtitle_car {
  margin: 0 auto;
  width: 327px;
  height: 49px;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #222222;
}

.label_rev_color {
  font-weight: 300;
  color: #000000;
  width: 115px;
  height: 27px;
  background: #FFFFFF;
}

.label_rev_color_min {
  font-weight: 300;
  width: 76px;
  height: 24px;
}

.title_rev_color {
  font-weight: 300;
  margin-top: 27px;
  color: #FFFFFF;
}

.subtitle_rev_color {
  font-weight: 300;
  color: #FFFFFF;
}

.require {
  padding: 66px 0 84px 0;
}
.require_block {
  margin: 33px 0;
}
.require_block_nmb {
  margin-bottom: 0;
}
.require_title {
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
  color: #1CA8C3;
  margin-bottom: 20px;
}
.require_list {
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
  padding-left: 51px;
  list-style-type: none;
}
.require_list li {
  position: relative;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 8px;
}
.require_list li:last-child {
  margin-bottom: 0;
}
.require_list li:before {
  position: absolute;
  left: -32px;
  top: 2px;
  content: "";
  display: block;
  width: 21px;
  height: 20px;
  background: url(../icon/check_blue_10.svg) center center/cover no-repeat;
}
.require_descr {
  color: #1CA8C3;
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
}
.require .warning .require_title {
  color: #FF5656;
}
.require .warning .require_list li:before {
  background: url(../icon/check_red_5.svg) center center/cover no-repeat;
}

.world {
  position: relative;
  height: 722px;
  background: url(../img/world_bg.jpg) center center/cover no-repeat;
  padding: 49px 0 200px 0;
}
.world a {
  display: inline;
}
.world_looks_sities {
  position: absolute;
  top: 662px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #1FBAD6;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  text-transform: uppercase;
}
.world_looks_sities a {
  display: block;
  color: #1FBAD6;
}

footer {
  padding: 14px 23px 39px 23px;
  height: 156px;
}
footer .footer > div {
  width: 33%;
}
footer .footer > div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .blueline {
  margin: 0px auto;
  content: "";
  color: #1FBAD6;
  background-color: #1FBAD6;
  height: 4px;
  width: 301px;
}
footer .footer {
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0px;
  width: 154px;
}
footer .footer_social_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background: #070716;
  border-radius: 100%;
  color: white;
}
footer .footer_social .icon-facebook:before {
  font-size: 17px;
}
footer .footer_social .icon-twitter:before {
  font-size: 19px;
}
footer .footer_social .icon-linkedin:before {
  font-size: 13px;
}
footer .footer_social .icon-instagram:before {
  font-size: 15px;
}
footer .footer_footermenu {
  margin: 0 auto;
  width: 390px;
}
footer .footer_footermenu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .footer_footermenu_title a {
  margin: 0 3px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  color: #070716;
}
footer .footer_footermenu_subtitle {
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_footermenu_subtitle a {
  margin: 0 3px;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  text-transform: uppercase;
  color: #999999;
}
footer .footer_footermenu_language {
  margin-top: 5px;
  text-align: center;
}
footer .footer_footermenu_language a {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
  color: #1FBAD6;
}
footer .footer_store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 296px;
  height: 27px;
}

.xs-visible {
  display: none;
}

.require_list_320 {
  display: none;
}

@media (max-width: 1400px) {
  .menu_item + .menu_item {
    padding-left: 30px;
  }
}
@media (max-width: 1200px) {
  .title {
    font-size: 31px;
    font-weight: 700;
  }

  .subtitle {
    font-weight: 400;
  }

  .menu_link {
    font-size: 12px;
  }
  .menu_item + .menu_item {
    padding-left: 20px;
  }

  .subheader_btn {
    margin-left: -48px;
  }
  .subheader_phone {
    margin-right: 48px;
  }
  .subheader_call {
    margin-right: 48px;
  }

  .promo_header {
    font-size: 50px;
  }
  .promo_subheader {
    font-size: 28px;
  }

  .why_us_item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .why_us_text {
    width: 308px;
  }

  .mobile_item {
    height: 250px;
    width: 290px;
  }
  .mobile_item_subtitle {
    font-size: 19px;
  }

  .require_list_320 {
    display: block;
  }

  .require_list_hd {
    display: none;
  }

  footer .footer_store a {
    margin: 0 3px;
  }
  footer .footer_store a img {
    width: 100%;
  }
  footer .footer > div {
    width: 50%;
  }
  footer .footer > div:nth-child(1) {
    width: 25%;
  }
  footer .footer > div:nth-child(3) {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 25%;
  }
}
@media (max-width: 991px) {
  .menu_link {
    font-size: 10px;
  }
  .menu_item + .menu_item {
    padding-left: 10px;
  }

  .subheader_logo img {
    max-width: 100%;
  }
  .subheader_official {
    font-size: 12px;
  }
  .subheader_phone {
    font-size: 18px;
  }
  .subheader_btn {
    width: 140px;
    margin-top: 23px;
    height: 40px;
    font-size: 13px;
    margin-left: 40px;
  }
  .subheader_phone {
    margin-right: -40px;
  }
  .subheader_call {
    margin-right: -40px;
  }

  .why_us_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why_us_text {
    margin-top: 26px;
  }

  .car {
    min-height: 727px;
  }
  .car_up_bg {
    height: 456px;
  }
  .car img {
    width: 86%;
  }

  footer {
    height: 276px;
  }
  footer .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 20px;
  }
  footer .footer > div:nth-last-child(1) {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer > div:nth-last-child(2) {
    width: 100%;
  }
  footer .footer > div:nth-last-child(3) {
    width: 100%;
  }

  .title {
    font-size: 27px;
  }

  .subtitle {
    font-size: 17px;
    text-align: center;
  }

  .promo_header {
    font-size: 41px;
  }
  .promo_subheader {
    font-size: 25px;
  }
}
@media (max-width: 766px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .menu_active {
    right: 0;
  }
  .menu_item {
    padding-bottom: 10px;
  }
  .menu_item + .menu_item {
    padding-left: 0;
    border: 0;
    padding-bottom: 10px;
  }
  .menu_link {
    font-size: 20px;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 30px;
    height: 21px;
    z-index: 1;
  }
  .hamburger span {
    margin-bottom: 4px;
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger_active span {
    margin-bottom: -3px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(-45deg);
            transform: translateY(8px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }

  .subheader_btn {
    display: block;
    margin-left: auto;
    height: 30px;
    margin-right: 12px;
    margin-top: 3px;
  }
  .subheader_phone {
    margin-right: 24px;
    font-size: 16px;
    margin-top: 12px;
  }

  .promo {
    height: 707px;
    padding-top: 147px;
  }
  .promo_header {
    line-height: 12px;
    font-size: 35px;
  }
  .promo_subheader {
    font-size: 20px;
    padding-top: 6px;
  }
  .promo_btn {
    margin-top: 77px;
  }

  .why_us {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .why_us_item {
    margin-top: 21px;
  }
  .why_us_circle {
    margin-right: 0;
  }
  .why_us_text {
    width: 100%;
  }

  .mobile {
    padding-top: 46px;
    padding-bottom: 48px;
  }

  .car {
    min-height: 711px;
    padding-bottom: 48px;
  }
  .car_up_bg {
    padding-top: 46px;
  }
  .car img {
    width: 100%;
  }

  .require {
    padding: 45px 0 45px 0;
  }
  .require_list li {
    line-height: 19px;
  }

  .title {
    margin-top: 20px;
    line-height: 40px;
  }

  .xs-hidden {
    display: none;
  }

  .xs-visible {
    display: block;
  }
}
@media (max-width: 575px) {
  nav {
    height: 40px;
  }

  .menu_active {
    width: 100%;
  }
  .menu_item {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }
  .menu_link {
    display: block;
  }

  .subheader {
    top: 40px;
    height: 72px;
    z-index: 10;
  }
  .subheader_official {
    display: none;
  }
  .subheader_logo {
    margin-top: 20px;
  }
  .subheader_logo img {
    max-width: 113%;
  }
  .subheader_phone {
    margin-right: 16px;
    font-size: 13px;
    margin-top: 11px;
  }
  .subheader_btn {
    height: 24px;
    font-size: 10px;
    width: 114px;
    margin-right: 7px;
    margin-top: 0px;
  }
  .subheader_btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  }

  .promo {
    position: relative;
    margin-top: -10px;
    height: 400px;
    padding: 108px 0 34px 0;
  }
  .promo_header {
    margin: 0 26px;
    font-size: 30px;
    line-height: 35px;
  }
  .promo_subheader {
    margin: 22px 10px 0;
    font-size: 17px;
    line-height: 20px;
  }
  .promo_descr {
    display: none;
  }
  .promo_btn {
    position: absolute;
    bottom: 45px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 210px;
    height: 50px;
    font-size: 16px;
  }
  .promo_btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF));
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  }

  .title {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .why_us {
    margin: 0;
    padding: 20px 0 31px 0;
  }
  .why_us_item {
    margin-top: 23px;
  }
  .why_us_text {
    width: 90%;
    margin-top: 18px;
  }
  .why_us_title {
    font-size: 16px;
  }
  .why_us .mt_for_mobile {
    margin-top: 10px;
  }
  .why_us_circle {
    margin-right: 0;
    width: 100px;
    height: 100px;
  }

  .hamburger {
    right: 12px;
    width: 25px;
    height: 12px;
  }
  .hamburger span {
    margin-bottom: 2px;
    height: 2px;
  }
  .hamburger_active span {
    margin-bottom: -1.5px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(6px) rotate(45deg);
            transform: translateY(6px) rotate(45deg);
  }

  .mobile {
    padding-top: 25px;
    padding-bottom: 9px;
  }
  .mobile .title {
    line-height: 45px;
  }
  .mobile .subtitle {
    margin: -5px 14px 0;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
  }
  .mobile .row {
    margin: 22px 0 0;
    padding: 0;
  }
  .mobile_item {
    width: 290px;
    height: 254px;
    margin-bottom: 30px;
  }
  .mobile_item_subtitle {
    width: 230px;
    margin: -4px auto;
    font-size: 18px;
    line-height: 31px;
  }
  .mobile_item_plus {
    bottom: 30px;
  }
  .mobile .col-12 {
    padding: 0;
  }

  .car {
    min-height: 390px;
    background: none;
    padding-bottom: 0;
  }
  .car .title {
    display: none;
  }
  .car .subtitle {
    display: none;
  }
  .car img {
    width: 290px;
    height: auto;
    margin: 36px auto 26px auto;
  }
  .car_up_bg {
    height: 390px;
    padding: 24px 0 26px;
    background: #070716;
  }
  .car_up_bg .subtitle_car {
    font-weight: 300;
    width: 263px;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    margin-top: -7px;
    color: #FFFFFF;
  }

  .require {
    padding-top: 24px;
    padding-bottom: 12px;
  }
  .require_block {
    margin: 20px 0;
  }
  .require .title {
    font-weight: 700;
    line-height: 16px;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 5px;
  }
  .require_descr {
    padding-left: 3px;
    font-size: 14px;
    line-height: 16.4px;
  }
  .require_title {
    font-size: 16px;
    margin-bottom: 6px;
    padding-left: 6px;
  }
  .require_list {
    padding-left: 37px;
  }
  .require_list li {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
  }
  .require_list li:before {
    top: -2px;
  }
  .require .require_list_320 {
    display: block;
  }
  .require .require_list_hd {
    display: none;
  }

  .world {
    height: 360px;
    padding: 25px 0 30px 0;
  }
  .world .title_rev_color {
    font-weight: 700;
    font-size: 16px;
  }
  .world .subtitle {
    line-height: 5px;
    font-size: 14px;
  }
  .world_looks_sities {
    top: 315px;
    font-size: 15px;
    width: 195px;
  }

  footer {
    height: 254px;
    padding: 24px 18px 29px;
  }
  footer .blueline {
    width: 253px;
    height: 4px;
  }
  footer .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 230px;
    padding-top: 15px;
  }
  footer .footer > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .footer > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer > div:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_footermenu_title {
    width: 300px;
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    padding: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer_footermenu_subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 14px;
  }
  footer .footer_footermenu_language {
    margin-top: 0px;
    line-height: 18px;
  }
  footer .footer_store {
    width: 260px;
    margin-bottom: 13px;
  }
  footer .footer_store img {
    width: 83px;
  }
}
@media (max-width: 400px) {
  .why_us_text {
    width: 95%;
  }
}

/*# sourceMappingURL=style.css.map */